.header {
  text-align: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background-color: black;
  color: aliceblue;
  height: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.products {
  display: flex;
  width: 25%;
  flex-direction: column;
  margin: 20px;
  padding: 6px;
  border: 1px solid black;
}

.desc {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

button {
  height: 30px;
}
